:root{ /* difference in colors if light mode or dark mode it picked */
    --lightcolor:rgba(255, 255, 255, 0.863);
    --darkcolor:#161616;
}

.dark{ /* sets the variables for the dark background and the box color outlines */
    background-color:var(--darkcolor);
    color:var(--lightcolor);
    border-color:var(--lightcolor);
}

nav ul{ /* sets the structure of the nav, the return button */
    display:flex;
    justify-content:space-around;
    float:right;
}

li{ /* layout of the footer area personal info */
    margin-right:6px; /* effects the placement of the light to dark slider, keep approx this size if changes are made to prevent overlap on the scroll bar */
    margin-left:10px;
    padding-bottom:8px; /* larger than 10px causes right of the text comment box to shrink from the right, do not alter this past 9px */
    font-size:large;
    font-weight:bold;
}

#back{ /* return button layout */
    border-radius: 50px;
    background-color:var(--darkcolor);
    color:var(--lightcolor);
    cursor:pointer;
}

label{ /* light to dark mode button layout and visuals */
    width:30px;
    height:20px;
    position:relative;
    display:block;
    background:var(--lightcolor);
    border-radius:20px;
    box-shadow: inset 0px 5px 15px rgba(0, 0, 0, 0.904), inset 0px,-5px,15px rgba(255, 255, 255, 0.445);
    cursor:pointer;
    transition:0.9s;
    padding-left:8px;
}

label:after{ /* layout of the light to dark mode slider, and color of the circle */
    content:""; /* required even if blank for the orange slider icon to be seen, slider can be labeled within "" if needed */
    width:20px;
    height:20px;
    position:absolute;
    top:0px;
    left:0px;
    background:linear-gradient(180deg,#ffcc89f6,#f1880f);
    border-radius:15px;
    box-shadow:5px 5px 5px rgba(0, 0, 0, 0.840);
    transition:0.3s;
}

input{ /* check mark hidden under the slider removing leaves box with check visible if desired */
    width:0px;
    height:0px;
    visibility:hidden;
    display:none;
}

input:checked + label{ /* functionality for the dark mode slider, do not change anything here, or the slider will bug out */
    background: var(--darkcolor);
}

input:checked + label:after{ /* the relative postition of the orange switch on the light and dark slider, and it's color when on dark mode */
    left:35px;
    transform:translateX(-100%);
    background: linear-gradient(180deg,#ffcc89f6,#f1880f);
}

#blogcontainer{ /* overall blog post box structure */
    display:flex;
    flex-wrap:nowrap;
    flex-direction:column;
}

#blogpost{ /* sets the size of the blog post boxes */
    height:120px;
    width:99%;
    margin-top:15px;
    border:solid;
    border-color:var(--darkcolor);
    border-radius:8px;
}

#blogtitle{ /* sets size of the title of the blog post */
    padding:2px;
    font-size: medium;
    font-weight: bold;
}

#blogcomment{ /* sets the size of the blog post individual box comments content */
    height:80px;
    width:99%;
    border-top:solid;
    border-top-color:var(--darkcolor);
    margin:0px;
    text-wrap: wrap;
}

#blogauthor{ /* sets the size and placement of the Posted by user: section */
    float:left;
    margin:-8px;
    padding-left:10px;
    font-size: medium;
    font-weight: bold;
}

.dark #blogpost{ /* styles that only apply to dark mode, code is same as light mode */
    height:120px;
    width:99%;
    margin-top:15px;
    border:solid;
    border-color:var(--lightcolor);
    border-radius:8px;
}

.dark #blogtitle{ /* styles that only apply to dark mode, code is same as light mode */
    padding:2px;
    font-size: medium;
    font-weight: bold;
}

.dark #blogcomment{ /* styles that only apply to dark mode, code is same as light mode */
    height:80px;
    width:99%;
    border-top:solid;
    border-top-color: var(--lightcolor);
    margin:0px;
    text-wrap: wrap;
}

.dark #blogauthor{ /* styles that only apply to dark mode, code is same as light mode */
    float:left;
    margin:-8px;
    padding-left:10px;
    font-size: medium;
    color:var(--lightcolor);
}

footer{ /* double bar space after bottom blog post box, before the personal info section */
    padding-top:20px;
    width:100%;
    border-width:thick;
    border-bottom-style:double;
}